// media
$xs: 480px;
$sm: 576px;
 $md: 768px;
 $lg: 992px;
 $xl: 1200px;

// colors
$color_blue1: #215398;

$color_red1: #ff3859;

$color_light1: #fff;
$color_light2: #f5f5f5;



// fonts
$base_font_size: 16px;

